/* Header Section */
.header {
  background-color: #e91e63;
  color: rgb(182, 37, 37);
  padding: 20px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
}

/* Navigation Bar */
.navbar {
  background-color: #f8bbd0;
  padding: 12px;
  text-align: center;
}

.navbar a {
  margin: 0 20px;
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s;
}

.navbar a:hover {
  color: #e91e63;
}

/* Product Section */
.section {
  padding: 30px 20px;
}

.section h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 25px;
  color: #880e4f;
  font-weight: bold;
}

/* Product Container */
.product-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

/* Product Cards */
.product-card {
  border: 1px solid #ad2828;
  width: 230px;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s ease;
  background: white;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.08);
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 12px rgba(0,0,0,0.15);
}

.product-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}

/* Buttons */
.btn {
  background-color: #e91e63;
  color: rgb(207, 77, 172);
  padding: 10px 18px;
  border: none;
  border-radius: 5px;
  margin-top: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}

.btn:hover {
  background-color: #c2185b;
}

/* Footer */
.footer {
  background-color: #880e4f;
  color: white;
  text-align: center;
  padding: 12px;
  margin-top: 40px;
  font-size: 14px;
}