.product-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.product-card {
  border: 1px solid #d13c66;
  padding: 15px;
  width: 220px;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  background: #d27fb5;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px #000000;
}

.product-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

button {
  color: rgb(15, 15, 15);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

.status {
  font-size: 0.9em;
  font-weight: bold;
}

.available { color: #8f055f; }
.out-of-stock { color: #8f055f; }
.cart-summary {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  margin: 10px;
  border: 1px solid #000000;
  position: sticky;
  top: 10px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.cart-summary p {
  margin: 0;
  font-size: 1.1rem;
  color: #aa0542;
}
.product-pic {
  width: 100%;
  max-height: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}